* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3edf4;
  font-family: "Segoe UI", sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: #0070f3;
}

a:hover {
  color: #0051a3;
}
