.gridSection {
  padding: 20px;
  background: linear-gradient(to right, #dfeacb, #dde4d7);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0, auto;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #2e7d32;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: stretch;
}

.showMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.showMoreBtn {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.showMoreBtn:hover {
  background-color: #1b5e20;
}
